body::-webkit-scrollbar {
  display: none;
}

.about {
  padding-top: 6rem;
  height: 100% !important;
}

.rbc-btn-group {
  background-color: #81e6d9;
  color: white;
  border-radius: 0.375rem;
  border-width: 0;
}

.rbc-day-slot {
  border-color: black;
}

.rbc-time-view {
  border-color: black;
  border-radius: 0.375rem;
}

.is-past {
  background-color: #7b879e;
}

.rbc-off-range-bg {
  background-color: #9c9da1;
}

.rbc-today {
  background-color: #c5cad6 !important;
}

.rbc-event {
  background-color: 265985 !important;
  border-radius: 0;
}

.rbc-events-container {
  margin-right: 0 !important;
}

.rbc-event-label {
  display: none !important;
}

.rbc-calendar {
  margin-top: 10vh;
}
